.car{
    display: flex;
}
#lista{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

.sec2{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.box {
    background: #333;
    color: #fff;
    text-align: left;
    width: 40vw;
    margin: 0.5vw;
    box-shadow: 2px 2px 15px 0px rgb(0, 0, 0);
    border-radius: 20px;
}
.box h2 {
    display: flex;
    margin-top: -5vw;
    margin-left: 35%;
    color: #ffffff;
    text-align: left;
    padding: 10px;
}
.btn2 {
    background-color: gray;
    border: none;
}
.btn2 a img{
    width: 24px;
    height: 24px;
}
#lista .img-res {
    width: 30%;
    margin-top: 1vh;
    margin-left: 1vh;
    transition: 0.8s;
}
.img-res:hover {
    transform: scale(1.02);
}

@media(max-width:600px){
    .box{
        width: 100%;
        height: 30vh;
    }
    .box h2 {
        margin-left: 60%;
        margin-top: -30%;
        font-size: 17px;
    }
    .car{
        flex-direction: column;
    }
    #lista{
        margin-left: 0vw;
    }
}