.menu{
    display: flex;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    a{
        color: #fff;
        padding: 10px;
        text-decoration: none;
    }
}
.hamburger{
    display: none;
    font-size: 30px;
    color: #fff;
    background-color: #333;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    gap:1vh;
    flex-wrap: wrap;
}

.box{
    flex: calc(33% - 5px);
    background-color: #eee;
    color:#fff;
    text-align: center;
    width: 33vw;
}
.box h2{
    color: #000;
}


.img-res{
    border-radius: 10px;
    width: 95%;
    margin-top: 2vh;
}

.ordem{
    display: none;
}
.ordem.show{
    display: block;
}
.filtro{
    margin: 1vh;
}

@media(max-width:600px){
    .container{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .box{
        flex: 1;
        width: 100%;
    }
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .menu.show{
        display: flex;
    }
    .img-res{
        width: 100%;
    }
}