body{
    background: white;
}

a{
    text-decoration: none;
}

.menu {
    display: flex;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;

    a {
        color: #fff;
        padding: 10px;
        text-decoration: none;
    }

}
.hamburger {
    display: none;
    font-size: 30px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
}

.img-res {
    border-radius: 10px;
    width: 95%;
    margin-top: 2vh;
    transition: 0.8s;
}
.img-res:hover {
    transform: scale(1.02);
}

#logo {
   width: 50px;
    border-radius: 20px;
    display: block;
    position: absolute;  
    top: 13px;
    right: 20px;;
}

@media(max-width:600px) {
    .menu {
        display: none;

    }
    .hamburger {
        display: block;
        border-radius: 5px;
    }
    .menu.show {
        display: flex;
    }

    .img-res {
        width: 90%;

    }
    
    #logo {
        display: none;
    }
}