.container {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    flex-wrap: wrap;
}

.box {
    flex: calc(33% - 25px);
    background: #333;
    color: #fff;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 15px 0px rgb(0, 0, 0);
    border-radius: 10px;
}

.box h2 {
    color: #fff;
    text-align: left;
    padding: 10px;
}


.ordem {
    display: none;
    margin-bottom: 10px;
}
.ordem.show {
    display: block;
}

.filtro {
    margin: 0.2vh;
    margin-top: 10px;
    background-color: #888888;
    border: none;

}
.filtro img{
    width: 24px;
    height: 24px;
}
body{
    background-color: #888888;
}

@media(max-width:600px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .box {
        flex: 1;
        width: 100%;
    }
}