.info{
    display: flex;
    flex-direction: row;
}
.img-res{
    flex: 1;
}
.info h2{
    flex: 0.9;
    text-align: center;
}

@media(max-width:600){
    .info{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}